<nav>
  <ul>
    <li>
      <a class="nav-item nav-link text-light" [routerLink]="['/login']" routerLinkActive="router-link-active"  >Login</a>
    </li>
    <li>
      <a class="nav-item nav-link active text-light" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
    </li>
    <li>
      <a class="nav-item nav-link text-light" [routerLink]="['/userdb']" routerLinkActive="router-link-active">My Profile</a>
    </li>
    <li>
      <a class="nav-item nav-link text-light" [routerLink]="['/sellerLogin']" routerLinkActive="router-link-active">Seller Login</a>
    </li>
    <li>
      <a class="nav-item nav-link text-light" [routerLink]="['/sellerRegistration']" routerLinkActive="router-link-active">Seller Registration</a>
    </li>
    <li>
      <a class="nav-item nav-link text-light" [routerLink]="['/manageModel']" routerLinkActive="router-link-active">Manage Asset</a>
    </li>
    <li>
      <a class="nav-item nav-link text-light" [routerLink]="['/addAsset']" routerLinkActive="router-link-active">Add Asset</a>
    </li>
    <li>
      <a class="nav-item nav-link text-light" [routerLink]="['/browse']" routerLinkActive="router-link-active">Browse</a>
    </li>
    
  </ul>
</nav>
