html {
  height:80%;
} 

nav {
  max-width: 1500px;
  margin: 0 auto;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  text-transform:uppercase;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  color: rgba(0, 35, 122, 0.7);
}