<br>
<br>
<div class="container-fluid row justify-content-center">
    <mat-card class="col-3" style="box-shadow: black; border:1px solid grey;">
        <mat-card-title>
            <p style="font-size: x-large;">Reset Password</p>
            <hr>
        </mat-card-title>
        <mat-card-content>
           
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" class="btn btn-primary" style="width:100%">Reset Password</button>
        </mat-card-actions>
    </mat-card>
</div>
