<div class="container-fluid row justify-content-center" *ngIf="showprofile">
    <mat-card class="col-4 mt-5" style="box-shadow: black; border:1px solid grey; ">
        <mat-card-title>
            <p style="font-size: x-large;">My Profile</p>
            <hr>
        </mat-card-title>
        <mat-card-content>
            <p>
                Name : {{currentuser.name}} <br>
                Account id : {{currentuser._id}} <br>
                E-mail Id : {{currentuser.email}} <br>
                Contact Number : {{currentuser.contactnum}} <br>
                Date of Birth : {{currentuser.dob}} <br>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mr-4" (click)="updateUser(currentuser)">Update Profile</button>
                <a class="btn btn-primary" [routerLink]="['/app/resetPassword']" routerLinkActive="router-link-active" >Reset Password</a> 
            </div>
           
        </mat-card-actions>
    </mat-card>
</div>
<!-- update -->
<div  class="container" *ngIf="showeditform">    
    <div class="row justify-content-center" >
        <div class="card mycard1 col-4">  
            <div class="card-body" >      
                <p style="font-size:x-large;">Update your profile</p>      
                <hr>     
                <form [formGroup]="editform" (ngSubmit)=submitRegister(editform.value)>
                    <mat-form-field appearance ="outline"  style="width:100%;">
                        <mat-label> Name</mat-label>
                        <input matInput placeholder="name" formControlName="name">
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <mat-error>Name required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance ="outline"  style="width:100%;">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="E-mail"  type="email" formControlName="email">
                        <mat-icon matPrefix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance ="outline"  style="width:100%;">
                        <mat-label>Contact Number</mat-label>
                        <input matInput placeholder="Contact Number"  type="tel" formControlName="contactnum">
                        <mat-icon matPrefix>phone</mat-icon>
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                    <div>
                        <button type="submit" class="btn btn-primary" style="width:100%">Update</button>
                    </div>              
                </form>
            </div>                    
        </div>
    </div>           
</div>